::-webkit-scrollbar {
  @apply w-3.5;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-[#f6f6fd];
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primaryOpacity30;
}
* {
  // font-family: "ArbFONTS-Somar-Regular";
  outline: none;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  transition: background 0.4s linear, color 0.4s linear;
}
html,
body {
  overflow-x: hidden;
  overflow-y: auto !important;

}
body {
  -webkit-scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  &:has(.isScrolled) {
    @apply pt-[270px];
  }
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: var(--theme_bg_clr);
}
body::-webkit-scrollbar-thumb {
  background: var(--main_theme_clr);
  border: 2px solid var(--main_theme_clr);
  border-radius: 15px;
}
body .theme--light.v-application {
  background: var(--theme_bg_clr);
  color: var(--theme_text_clr);
}
body .main-content {
  position: relative !important;
  z-index: 1 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -o-box-shadow: 0 0 0 30px var(--theme_inputs_clr) inset !important;
  box-shadow: 0 0 0 30px var(--theme_inputs_clr) inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.fade-in {
  animation: fade-in 0.8s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    @apply translate-y-0 opacity-0;
  }
  100% {
    @apply translate-y-0 opacity-100;
  }
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   -webkit-text-fill-color: #000;
//   -webkit-background-clip: text !important;
//   background-color: transparent !important;
// }
